/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Montserrat:wght@100..900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(353, 93%, 50%);
  --first-color-alt: hsl(353, 93%, 46%);
  --first-color-dark: hsl(353, 50%, 15%);
  --title-color: hsl(353, 48%, 12%);
  --text-color: hsl(353, 16%, 32%);
  --text-color-light: hsl(353, 16%, 48%);
  --white-color: hsl(24, 86%, 90%);
  --body-color: hsl(24, 86%, 88%);
  --container-color: hsl(24, 86%, 92%);
  --shadow-small-img: drop-shadow(0 4px 16px hsla(353, 100%, 8%, .2));
  --shadow-big-img: drop-shadow(0 8px 24px hsla(353, 100%, 8%, .2));

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --second-font: "Carter One", system-ui;
  --biggest-font-size: 2.5rem;
  --bigger-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 4.25rem;
    --bigger-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

input,
button,
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
button {
  outline: none;
  border: none;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-regular);
  font-family: var(--second-font);
  line-height: 120%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.border {
    border: 1px solid #000;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}
.section__title {
  text-align: center;
  font-size: var(--bigger-font-size);
  margin-bottom: 2rem;
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: box-shadow 0.4s;
}
.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  display: inline-flex;
  /* Đây là kiểu hiển thị kết hợp:
        inline: phần tử sẽ nằm trên cùng một dòng với các phần tử khác nếu còn không gian.
        flex: cho phép sắp xếp các phần tử con theo mô hình flexbox.
        ⇒ Phần tử .nav__logo vừa không chiếm toàn bộ chiều ngang như block, vừa có thể dùng flex để căn chỉnh nội dung bên trong.*/
  
  align-items: center;
  column-gap: 0.25rem;
  font-family: var(--second-font);
  color: var(--title-color);
}
.nav__logo img {
  width: 24px;
}
.nav__close,
.nav__toggle {
  display: flex;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed; /* Ghim menu vào một vị trí cố định trên màn hình, không cuộn theo trang. */
    top: -120%; /* trước đó là top: 0 để hiển thị menu*/
    left: 0;
    
    background-color: var(--body-color);
    width: 100%;
    padding-block: 4.5rem 3.5rem;  /* Tạo khoảng cách theo chiều dọc: 4.5rem phía trên và 3.5rem phía dưới (áp dụng cho padding-top và padding-bottom).*/
    box-shadow: 0 4px 16px hsla(353, 100%, 8%, .1); /* Tạo hiệu ứng đổ bóng nhẹ bên dưới menu, giúp menu nổi lên trên nền. */
    transition: top .4s; /* Khi giá trị top thay đổi (ví dụ: để ẩn hoặc hiện menu), hiệu ứng sẽ diễn ra trong 0.4 giây, tạo cảm giác mượt mà. */
  }
}

.nav__list {
  text-align: center;
  /* Căn giữa nội dung văn bản trong các phần tử con (nếu là thẻ inline hoặc inline-block, ví dụ: <a>, <span>).
     Điều này giúp các mục menu (thường là liên kết) hiển thị ở giữa theo chiều ngang.*/
  
  display: flex;
  flex-direction: column;
  /* display: flex;
        Biến .nav__list thành một container flexbox để sắp xếp các phần tử con (menu items) linh hoạt hơn.
     flex-direction: column;
        Các phần tử con bên trong (thường là <li> hoặc <a>) sẽ được sắp xếp theo chiều dọc (từ trên xuống).*/

  row-gap: 2rem;
  /* Tạo khoảng cách giữa các hàng (tức là các mục menu) là 2rem (~32px nếu 1rem = 16px).*/
}

.nav__link {
  position: relative;
  color: var(--title-color);
  font-family: var(--second-font);
}
.nav__link::after {
  content: '';
  width: 0;
  height: 3px;
  background-color: var(--first-color);
  position: absolute;
  left: 0;
  bottom: 0;
  transition: width .4s;
}
/* .nav__link được đặt position: relative để làm mốc tham chiếu cho phần tử ảo ::after.
   ::after là một đường thẳng (3px chiều cao), nằm dưới liên kết (bottom: 0).
   width: 100% nghĩa là đường gạch chân dài bằng chiều rộng của liên kết.
   transition: width .4s cho phép hiệu ứng chuyển động mượt mà khi thay đổi độ rộng.
*/

.nav__link:hover::after {
  width: 60%;
  transform-origin: left; /* Có thể kết hợp với transform-origin để điều khiển hướng chuyển động */
}
/* Khi bạn đưa chuột vào liên kết, một gạch chân sẽ từ trái sang phải xuất hiện.
   Có thể kết hợp với transform-origin để điều khiển hướng chuyển động, ví dụ:*/

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

/* Show menu */


/* Add shadow header */


/* Active link */


/*=============== HOME ===============*/


/*=============== BUTTON ===============*/


/*=============== ABOUT ===============*/


/*=============== POPULAR ===============*/


/* Swiper class */



/*=============== RECIPE ===============*/


/*=============== PRODUCTS ===============*/


/*=============== CONTACT ===============*/


/*=============== FOOTER ===============*/


/*=============== SCROLL BAR ===============*/


/*=============== SCROLL UP ===============*/


/* Show Scroll Up */


/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */


/* For large devices */
